td.class_cat_1 {
	background-color: #39c984;
}

td.class_cat_9 {
	background-color: #ec36e1;
}

td.class_cat_10 {
	background-color: #e8c6e1;
	color: #333;
}

td.class_cat_11 {
	background-color: #1b96e1;
}

td.class_cat_16 {
	background-color: #e8ce06;
	color: #333;
}

td.class_cat_18 {
	background-color: #ec3b5b;
}

td.class_cat_7 {
	background-color: #ec3e06;
}

td.class_cat_26 {
	background-color: #39ce06;
}

td.class_cat_31 {
	background-color: #1b96e1;
}

td.class_cat_36 {
	background-color: #e8ce06;
	color: #333;
}

td.class_cat_41 {
	background-color: #ec3b5b;
}

td.class_cat_42 {
	background-color: #e8cb5b;
}